@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,700;0,900;1,900&display=swap');
.main {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    width: 23.75rem;
    height: 36.375rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 0.063rem solid #DFE0EB;
    margin:0px auto
}
.logo {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    background-color: #3751FF;
    padding-left: 0.09rem;
    margin-top: 2.5rem;
    margin-left: 44%;
    border-radius: 2.5rem;
    align-items: center;
}
.d {
    background: linear-gradient(143.7deg, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 100%);
    width: 1.125rem;
    height: 1.313rem;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}
.logoL {
    width: 19.75rem;
    height: 1.5rem;
    display: inline-block;
    margin-top: 0.75rem;
    text-align: center;
    color: #A4A6B3;
    opacity: 0.7;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 1.188rem;
    line-height: 1.5rem;
    letter-spacing: 0.025rem;
}
.tit {
    display: inline-block;
    width: 19.75rem;
    height: 1.875rem;
    margin-top: 2rem;
    font-family: 'Mulish';
    font-style: normal;
    font-weight:bolder;
    font-size: 1.5rem;
    line-height: 1.875rem;
    text-align: center;
    letter-spacing: 0.019rem;
    color: #252733;
}
.comment {
    display: inline-block;
    width: 19.75rem;
    height: 1.25rem;
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    letter-spacing: 0.019rem;
    color: #9FA2B4;
}
.con {
    margin-left: 50px;
    width: 18rem;
    margin-top: 1.5rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    width: 19.75rem;
    height: 1rem;
    margin-left: 2rem;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 0.75rem;
    line-height: 0.938rem;
    letter-spacing: 0.019rem;
    text-transform: uppercase;
    text-align: justify;
}
.in {
    text-align: left;
    align-items: center;
    width: 18rem;
    height: 2.625rem;
    padding: 0.688rem 1rem;
    box-sizing: border-box;
    background: #FCFDFE;
    border: 0.063rem solid #F0F1F7;
    border-radius: 8px;
}
.eyeB {
    position: absolute;
    right: 3.6rem;
    bottom: 11.6rem;
    height: 18px;
    width: 21px;
    border: none;
}
.eye {
    opacity: 0.3;
    height: 100%;
    width: 100%;
}
.p {
    text-decoration: none;
    color: #9FA2B4;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
a {
    text-decoration: none;
    color: #9FA2B4;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.singup {
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    letter-spacing: 0.2px;
    font-size: 0.875rem;
    color: #3751FF;
    font-weight: 600;
    line-height: 1.25rem;
}
.forgot {
    position: absolute;
    right: 3.125rem;
    top: 60%;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.813rem;
    text-align: right;
    letter-spacing: 0.1px;
}
.button {
    align-items: center;
    text-align: center;
    width: 18rem;
    height: 3rem;
    background-color: #3751FF;
    border: none;
    color: #fff;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border-radius: 8px;
    box-shadow: 0rem 0.25rem 0.75rem rgba(55, 81, 255, 0.24);
    margin-top: 24px;
}