
.icon{
  position: relative;
}
.campana{
width: 25px;
height: 25px;
color: #C5C7CD;
}
.counter{
  width: 1px;
  height: 1px;
  background-color: #3751FF;
  border-radius: 50%;
  padding: 5px; 
  position: absolute;
  top: 52px;
  margin-left: 10px;
  border: 1.5px solid #DFE0EB;
}
 


  